.continer {
  border: 5px solid #80c3eb;
  background-color: #d3f0f0;
  
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 75px 75px 75px; 
  place-content: center;

  grid-template-areas: 
    "header header header"
    "side main main"
    "side main main";
}

.item {
  font-family: monospace;
  font-size: 3rem;
}

.item-1 {
  border: 10px solid #1d446c;
  background-color: #f1f1f1;

  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-area: header;
}

.item-2 {
  border: 10px solid #965fd4;
  background-color: #8bd450;

  /* grid-row: 2 / 4; */
  grid-area: side;
}

.item-3 {
  border: 10px solid #ed2323;
  background-color: #ea8533;

  /* grid-area: 2 / 2 / 4 / 4; */
  grid-area: main;
}